@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.home {
  background-image: url("/0d637a3bd0d8bd783ff06150bf53721a320e88ff.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1537px;
  margin: auto;
}

.servicesHome {
  background-image: url("/img.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1537px;
  margin: auto;
}

.discount {
  background-image: url("/img111.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.barbers {
  background-image: url("/image 1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: start;
}
